.wallet {
    width: 100%;
    padding: 80px 0;
    .wallet_items {
        width: 100%;
        .wallet_title {
            @include title-style;
        }
        .wallet_subtitle {
            @include subtitle-style;
        }
        .wallet_content {
            margin-top: 48px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .wallet_item {
                width: 330px;
                padding: 10px 30px 30px 30px;
                background-color: #3b3b3b;
                border-radius: 20px;
                text-align: center;
                @include up-animation;
                .item_text {
                    margin-top: 20px;
                    .item_title {
                        font-size: 22px;
                        font-weight: 600;
                        color: #fff;
                    }
                    .item_descr {
                        color: #fff;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
